body {
    display: flex;
    flex-direction: column;
    background-color: rgba(1, 37, 9, 0.605);
    color: white;
}

header {
    padding: 1%;
}

.head {
    display: flex;
    justify-content: space-evenly;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding: 1%;
}

a {
    text-decoration: none;
    color: white;
}

.main {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-left: 20%;
}

.role{
    font-size: 400%;
    font-family:'Gill Sans', 'Gill Sans MT', 
    Calibri, 'Trebuchet MS', sans-serif;
    color: aquamarine;
}

.main h2 {
    font-size: 150%;
    padding-top: 14%;
    padding-right: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.first {
    width: 70%;
    height: inherit;
    object-fit: cover;
    border-radius: 9%;
}

.intro {
    display: flex;
    justify-content: center;
    font-size: 400%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aquamarine;
    padding-top: 2%;
    padding-bottom: 2%;
}


.about {
    display: flex;
    justify-content: center;
    font-size: 200%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    padding-top: 3%;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    color: rgb(148, 147, 147);

}

.project {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    
}

.card {
    box-shadow: 0 2px 0 5px rgba(255, 255, 255, 0.2);
    border-color: white;
    text-align: center;
    border-radius: 5%;
    transition: 0.3s;
}

.card h4 {
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card p {
    padding: 2%;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.card:hover {
  box-shadow: 0 4px 0 7px rgba(255, 255, 255, 0.2);
}

.container {
  padding: 2px 16px;
}

.second {
    width: 40%;
}

@media only screen and (max-width: 768px) {
    .main {
        display: flex;
        flex-flow: column wrap;
        padding-top: 2%;
        padding-left: 20%;
    }

    .intro {
        display: flex;
        justify-content: center;
        font-size: 300%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: aquamarine;
    }

    .role{
        font-size: 200%;
        font-family:'Gill Sans', 'Gill Sans MT', 
        Calibri, 'Trebuchet MS', sans-serif;
        color: aquamarine;
    }

    .about {
        display: flex;
        justify-content: center;
        font-size: 150%;
        padding: 2%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .project {
        padding-top: 10%;
    }

    .card h4 {
        font-size: 30px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .card p {
    padding: 2%;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    footer {
        padding-top: 10%;
    }
}

